#autoTypeHero{
    position: relative;
}

#autoTypeHero::after{
    content: '';
    position: absolute;
    right: -3%;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    background: var(--blackBlueLight);
    height: 30px;
    animation: blink 0.7s infinite alternate;
}

@keyframes blink {
    0%{
        height: 0px;
    }
    100%{
        height: 30px;
    }
}

